{% extends 'base.html' %}
{% block title %} Schema detail {% endblock %}
{% block content %}
<h2>{{schema.name}} Schema</h2>
{{data}}
<form method="post" action="{% url 'export' pk=schema.pk %}" id="schema_create">
    <input class="schema-form" name="amount">
    <button type="submit" class="btn btn-primary">Create</button>

</form>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Column name</th>
        <th scope="col">Column type</th>
    </tr>
    </thead>
    <tbody>
    {% for str in data%}
    <tr>
        <th scope="col">{{ str.order}}</th>
        <td>{{ str.data_name}}</td>
        <td>{{str.get_data_type_display}}</td>
    </tr>
    {% endfor%}
    </tbody>
</table>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Column name</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for file in schema_files%}
        <tr>
            <th scope="col">{{ forloop.counter }}</th>
            <td>{{ file }}</td>
            <td>Ready</td>
            <td><a href="{% url 'download' schema_name=file %}" class="btn btn-primary">Download</a></td>

        </tr>
        {% endfor%}
        </tbody>
    </table>
{% endblock %}